<!-- Categories Section -->
<section class="categ-section">
  <div class="categ-container container">
    <button class="all-categ-button" type="button">All categories</button>
    <div class="categ-list-container">
      <ul class="categ-list">
        <li class="categ-item">Beef</li>
        <li class="categ-item active-categ-item">Breakfast</li>
        <li class="categ-item">Chicken</li>
        <li class="categ-item">Dessert</li>
        <li class="categ-item">Goat</li>
        <li class="categ-item">Lamb</li>
        <li class="categ-item">Miscellaneous</li>
        <li class="categ-item">Pasta</li>
        <li class="categ-item">Pork</li>
        <li class="categ-item">Seafood</li>
        <li class="categ-item">Sushi</li>
        <li class="categ-item">Exotic</li>
        <li class="categ-item">Dinner</li>
        <li class="categ-item">Vegetarian</li>
      </ul>
    </div>
  </div>
</section>
