<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-container container">
    <div class="hero-text-container">
      <h1 class="hero-main-title">
        Learn to Cook
        <span class="hero-main-title-part">Tasty Treats'</span>
        Customizable Masterclass
      </h1>
      <p class="hero-substring">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button class="hero-order-button" type="button">Order now</button>
    </div>
    <div class="hero-shefs-parent-container">
      <div class="hero-shefs-container">
        <div class="first-shef-container shef-container">
          <div class="first-shef-img-container">
            <img
              class="first-shef-img"
              srcset="/img/cooks/IMG_9893 1.jpg 1x, /img/cooks/IMG_9893 1@2x.jpg 2x"
              alt="first shef foto"
              src="/img/cooks/IMG_9893 1.jpg"
            />
          </div>
          <div class="first-shef-dish-img-container">
            <img
              class="first-shef-dish-img"
              src="/img/dishes/IMG_9892-1-second-turn.png"
              alt="dish foto"
            />
            <div class="overlay-container">
              <p class="overlay-title">Grilled, smoky, delicious barbecue</p>
              <p class="overlay-subtitle">Spanish</p>
            </div>
          </div>
          <div class="first-shef-zoom-dish-container">
            <img
              class="first-shef-zoom-dish-img"
              src="/img/dishes/background-image-1.jpg"
              alt="zoomed dish foto"
              srcset="/img/dishes/image 1.jpg 1x, /img/dishes/image 1-@2x.jpg 2x"
            />
          </div>
        </div>
        <div class="second-shef-container shef-container">
          <div class="second-shef-img-container">
            <img
              class="second-shef-img"
              srcset="/img/cooks/IMG_9893 2.jpg 1x, /img/cooks/IMG_9893 2@2x.jpg 2x"
              alt="second shef foto"
              src="/img/cooks/IMG_9893 2.jpg"
            />
          </div>
          <div class="second-shef-dish-img-container">
            <img
              class="second-shef-dish-img"
              src="/img/dishes/pizza-picture-second-turn.png"
              alt="dish foto"
              srcset="./img/dishes/pizza picture.jpg 1x, ./img/dishes/pizza picture-@2x.jpg 2x"
            />
            <div class="overlay-container">
              <p class="overlay-title">Hot, cheesy and satisfying&nbsp;pizza</p>
              <p class="overlay-subtitle">Italian</p>
            </div>
          </div>
          <div class="second-shef-zoom-dish-container">
            <img
              class="second-shef-zoom-dish-img"
              src="/img/dishes/card.jpg"
              alt="zoomed dish foto"
              srcset="/img/dishes/pizza picture-zoom.jpg 1x, /img/dishes/pizza picture-zoom-@2x.jpg 2x"
            />
          </div>
        </div>
        <div class="third-shef-container shef-container">
          <div class="third-shef-img-container">
            <img
              class="third-shef-img"
              srcset="/img/cooks/IMG_9893 3-1.jpg 1x, /img/cooks/IMG_9893 3.jpg 2x"
              alt="third shef foto"
              src="/img/cooks/IMG_9893 3-1.jpg"
            />
          </div>
          <div class="third-shef-dish-container">
            <img
              class="third-shef-dish-img"
              src="/img/dishes/IMG_9892 1-second-turn.png"
              alt="dish foto"
              srcset="/img/dishes/IMG_9892 2.jpg 1x, /img/dishes/IMG_9892 2-@2x.jpg 2x"
            />
            <div class="overlay-container third-overlay-container">
              <p class="overlay-title">Fluffy and sweet pancakes</p>
              <p class="overlay-subtitle">American</p>
            </div>
          </div>
          <div class="third-shef-zoom-dish-container">
            <img
              class="third-shef-dish-zoom-img"
              src="/img/dishes/card-2.png"
              alt="zoomed dish foto"
              srcset="/img/dishes/IMG_9892 3.jpg 1x, /img/dishes/IMG_9892 3-zoom-@2x.jpg 2x"
            />
          </div>
        </div>
      </div>
      <div class="spots-btn-container">
        <p class="spots-nav">
          <span class="spot-nav active" onclick="moveSlide(0)">.</span
          ><span class="spot-nav" onclick="moveSlide(1)">.</span
          ><span class="spot-nav" onclick="moveSlide(2)">.</span>
        </p>
      </div>
    </div>
  </div>
</section>
