<!-- Popular recipes -->
<section class="popular-recipe-section">
  <div class="popular-recipe-container container">
    <h2 class="popular-recipe-title">Popular recipes</h2>
    <ul class="popular-recipe-list">
      <li class="popular-recipe-item">
        <img
          class="popular-recipe-img"
          src="/img/popular recipes/unsplash_J9lD6FS6_cs.jpg"
          srcset="/img/popular recipes/unsplash_J9lD6FS6_cs.jpg 1x, /img/popular recipes/unsplash_J9lD6FS6_cs-@2x.jpg 2x"
          alt="omlette"
        />
        <div class="popular-recipe-des-container">
          <p class="popular-recipe-des-title shorter-text">French Omelette</p>
          <p class="popular-recipe-des-substring">
            A French omelette is a simple yet elegant dish made with whisked
            eggs, butter, salt, and pepper, cooked gently until light and
            fluffy, then folded over and served for a comforting and refined
            meal any time of day.
          </p>
        </div>
      </li>
      <li class="popular-recipe-item">
        <img
          class="popular-recipe-img"
          src="/img/popular recipes/unsplash_J9lD6FS6_cspasta.jpg"
          srcset="/img/popular recipes/unsplash_J9lD6FS6_cspasta.jpg 1x, /img/popular recipes/unsplash_J9lD6FS6_cspasta-@2x.jpg 2x"
          alt="pasta"
        />
        <div class="popular-recipe-des-container">
          <p class="popular-recipe-des-title shorter-text">Squash linguine</p>
          <p class="popular-recipe-des-substring">
            Squash linguine is a flavorful and nutritious pasta alternative made
            with spiralized squash noodles, paired with a variety of delicious
            sauces and toppings for a satisfying and healthy meal.
          </p>
        </div>
      </li>
      <li class="popular-recipe-item-universal">
        <img
          class="popular-recipe-img"
          src="/img/popular recipes/unsplash_J9lD6FS6_cs-sec.jpg"
          srcset="/img/popular recipes/unsplash_J9lD6FS6_cs-sec.jpg 1x, /img/popular recipes/unsplash_J9lD6FS6_cs-sec-@2x.jpg 2x"
          alt="baked salmon foto"
        />
        <div class="popular-recipe-des-container">
          <p class="popular-recipe-des-title">Baked Salmon</p>
          <p class="popular-recipe-des-substring">
            Baked salmon is a flavorful and nutritious dish featuring tender and
            moist fillets seasoned with a blend of lemon juice, garlic, and
            olive oil.
          </p>
        </div>
      </li>
      <li class="popular-recipe-item-universal">
        <img
          class="popular-recipe-img"
          src="/img/popular recipes/unsplash_J9lD6FS6_cs-third.jpg"
          srcset="/img/popular recipes/unsplash_J9lD6FS6_cs-third.jpg 1x, /img/popular recipes/unsplash_J9lD6FS6_cs-third-@2x.jpg 2x"
          alt="sugar pie foto"
        />
        <div class="popular-recipe-des-container">
          <p class="popular-recipe-des-title">Sugar pie</p>
          <p class="popular-recipe-des-substring">
            Sugar pie is a traditional Canadian dessert made with a rich and
            buttery filling of brown sugar, cream, and flour, poured into a
            flaky pastry crust and baked until golden brown.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
