/* header section */
.header-page {
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 70px;
}

.header-logo {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: #050505;
}

.logo-part {
  color: #9bb537;
}

.header-logo-basket,
.header-logo-burgermenu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-logo-basket:hover,
.header-logo-basket:focus,
.header-logo-burgermenu:hover,
.header-logo-burgermenu:focus {
  transition: fill 200ms cubic-bezier(0.21, 0.05, 0.6, 0.79);
  fill: #9bb537;
}

.header-mob-icons-container {
  display: flex;
  gap: 14px;
  position: absolute;
  right: 0;
  align-items: center;
}

.header-mob-busket-btn,
.header-mob-burger-btn {
  background-color: transparent;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 53%;
  height: 100%;
  z-index: 999;
  background-color: #9bb537;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

.is-open {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: right 300ms ease-in-out;
  padding: 0;
}

.header-mob-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
}

.header-item-mob-active-link {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  display: block;
  text-align: center;
}

.header-item-mob-link {
  font-weight: 400;
  font-size: 12px;
  color: #f8f8f8;
}

.header-list-mob {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 148px 64px;
}

.switch-container-mob {
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 20px;
  align-self: center;
  position: absolute;
}

.switch-overlay {
  border-radius: 60px;
  width: 46px;
  height: 20px;
  background-color: #cecdcd;
  position: relative;
  box-shadow: 4px 5px 12px rgba(158, 158, 159, 0.6);
}

.switch-small-circle {
  border-radius: 100%;
  top: 5%;
  left: 3%;
  width: 18px;
  height: 18px;
  background-color: #f8f8f8;
  box-shadow: 4px 4px 15px 0 rgba(243, 243, 243, 0.25);
  position: absolute;
  transition: all 250ms cubic-bezier(0.21, 0.02, 0.35, 0.14);
}

.switch-container-universal {
  display: none;
}

.header-nav {
  display: none;
}

@media (min-width: 704px) and (max-width: 1079px) {
  .header-container {
    padding-top: 28px;
  }
  .backdrop {
    display: none;
  }
  .header-mob-burger-btn {
    display: none;
  }
  .switch-container-universal {
    display: block;
  }
  .header-nav {
    display: block;
  }
  .header-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .header-link-active {
    font-weight: 500;
    font-size: 12px;
    color: #9bb537;
  }
  .header-item-link {
    font-weight: 400;
    font-size: 12px;
    color: #050505;
  }
  .header-logo {
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: center;
    color: #050505;
  }
}

@media screen and (min-width: 1080px) {
  .backdrop {
    display: none;
  }
  .header-mob-burger-btn {
    display: none;
  }
  .switch-container-universal {
    display: block;
  }
  .header-logo {
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: center;
    color: #050505;
  }
  .header-nav {
    display: block;
  }
  .header-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .header-link-active {
    font-weight: 500;
    font-size: 12px;
    color: #9bb537;
  }
  .header-item-link {
    font-weight: 400;
    font-size: 12px;
    color: #050505;
  }
}
