/* loader animation */

/* .loader-wrapper {
  position: fixed;
  inset: 0;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #cecdcd;
  border-bottom-color: #9bb537;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-wrapper.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 250ms ease-in-out;
} */
