/* popular recipes */

.popular-recipe-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #050505;
  margin-bottom: 20px;
}

.popular-recipe-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popular-recipe-item-universal {
  display: none;
}

.popular-recipe-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.popular-recipe-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.popular-recipe-des-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popular-recipe-des-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #050505;
}

.popular-recipe-des-substring {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #050505;
  width: 100%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

@media (min-width: 704px) and (max-width: 1079px) {
  .popular-recipe-container {
    padding-top: 64px;
  }
  .popular-recipe-item-universal {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .popular-recipe-title {
    margin-bottom: 32px;
  }
  .popular-recipe-list {
    gap: 16px;
  }
  .popular-recipe-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .popular-recipe-img {
    max-width: 48px;
    max-height: 48px;
  }
  .shorter-text {
    max-width: 91px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .popular-recipe-des-substring {
    font-size: 10px;
    line-height: 1.4;
    color: rgba(5, 5, 5, 0.8);
    max-width: 120px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 1080px) {
  .popular-recipe-container {
    padding-top: 64px;
  }
  .popular-recipe-item-universal {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .popular-recipe-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 32px;
  }
  .popular-recipe-list {
    gap: 32px;
  }
  .popular-recipe-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .popular-recipe-img {
    max-width: 64px;
    max-height: 64px;
  }
  .popular-recipe-des-substring {
    max-width: 155px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }
}
